.card {
  display: inline-flex;
  width: 100%;
  min-height: 229px;
  align-items: center;
  margin: 0 0 2em 0;
  background-color: gainsboro;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-left {
  display: flex;
}

.information {
  margin: 0.6em;
}

.card-image {
  border-radius: 5px 0 0 5px;
}

@media (max-width: 500px) {
  .card {
    display: grid;
  }

  .card-image {
    border-radius: 5px 5px 0 0;
  }
}

.shimmer-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f9 linear-gradient(to right, #f6f7f9 20%, #e9ebee 40%, #f6f7f9 60%, #f6f7f9 100%) no-repeat;
  background-size: 800px 100%;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
